/* font-family: 'Rubik', sans-serif;
font-family: 'Open Sans', sans-serif;*/
body {
    margin:0;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: white;  
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    margin: 20px 0 0;
    color: violet;
    text-align: center;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    text-align: center;
    color: violet;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center; 
    margin: 0; 
}

a {
    text-decoration: none;
    color: violet;
}

hr {
    margin: 0;
}

header {
    position: fixed;
    width: 100vw;
}

/* las pseudoclases son solo para enlaces a */
a:hover {
    color: grey;
}

#titulo-header {
    background-color: violet;
   /* La opacidad no me funciona */
    opacity: 0.95;
}

.nav-principal {
    margin: 0;
    padding: 13px;
    background-color: plum;
    opacity: 0.90;
}

.menu-principal {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: white;
}

.opcion {
    color: white;
}

.hero {
    width: 100vw;
}

.imagen-familia {
    width: 100%
    /* position: relative; */
}

.tipo-imagen {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-persona {
    width: 180px;
    border: 3px solid pink;
    border-radius: 10px;
}

.leader {
    padding: 15px;
}

.lista-quienes-somos {
    list-style: none;
    margin: 0;
    display: fex;
    flex-direction: column;
    padding: 0;
    background-color: #eeeeee;
    border-top: 1px solid pink;
}

.tri {
    width: 100vw;
    position: relative;
}

.triangulo {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top: 15px solid pink;
    position: absolute;
    left:50%;
    transform: translate(-50%);
}

.contacto {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu-footer {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;  
}

.imagen-email {
    width: 30px;
}

.contenedor {
    display: flex;
}
.img-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.correo {

    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    margin: 10px;
    color: violet;
}

.movil {
    color: violet;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    margin: 10px;
}

.datos:nth-child(2) {
    align-items: flex-start;
}

.leader.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/flores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: violet;

}

.imagen-logo {
    width: 80px;
    margin-top: 15px;
    border: 3px solid pink;
    border-radius: 10px;
}

.elemento {
    margin: 10px;
}


@media all and (min-width:600px) {
    .fila {
        display: flex;
        align-items: center;
    }
    
    .fila:nth-child(2n) {
        flex-direction: row-reverse;
    }
}
