/* font-family: 'Rubik', sans-serif;
font-family: 'Open Sans', sans-serif;*/
body {
    padding:20px;
    font-family: 'Rubik', sans-serif;
    background-color: greenyellow;
}

.titulo {
    color: darkmagenta;
}

.titulo2 {
    color: darkmagenta;
}

.titulo3 {
    color: orange;
    font-size: 24px;
}